In [2]:
import pandas as pd
import os

In [3]:
f_path = 'C:Users\\Manh Le\\Documents\\PowerBall.csv'
X = pd.read_csv(f_path)
type(X)

pandas.core.frame.DataFrame

In [4]:
X.info()
X.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 8 columns):
ID          104 non-null int64
DrawDate    104 non-null object
B1          104 non-null int64
B2          104 non-null int64
B3          104 non-null int64
B4          104 non-null int64
B5          104 non-null int64
PB          104 non-null int64
dtypes: int64(7), object(1)
memory usage: 6.6+ KB

   ID    DrawDate  B1  B2  B3  B4  B5  PB
0   0  2017-06-24  10  22  32  36  58  10
1   1  2017-06-21  14  46  61  65  68  13
2   2  2017-06-17  10  13  32  53  62  21
3   3  2017-06-14   5  22  43  57  63  24
4   4  2017-06-10  20  26  32  38  58   3

In [5]:
os.getcwd()

'F:\\DeepLearningProjects\\Tensorflow-play'

In [6]:
len(X)

104

In [7]:
X.columns

Index(['ID', 'DrawDate', 'B1', 'B2', 'B3', 'B4', 'B5', 'PB'], dtype='object')

In [8]:
X.tail()

      ID    DrawDate  B1  B2  B3  B4  B5  PB
99    99  2016-07-13   3  15  29  54  57  10
100  100  2016-07-09  10  28  32  61  64  12
101  101  2016-07-06   2  24  31  57  66  18
102  102  2016-07-02  10  34  39  59  63   4
103  103  2016-06-29  23  29  37  60  64   6

In [9]:
X.describe()

,ID,B1,B2,B3,B4,B5,PB
count,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000
mean,51.500000,11.663462,23.903846,36.576923,47.884615,58.711538,13.076923
std,30.166206,9.029198,12.142775,13.073127,12.360529,9.362882,7.383651
min,0.000000,1.000000,3.000000,9.000000,16.000000,31.000000,1.000000
25%,25.750000,5.000000,15.000000,27.000000,39.750000,54.000000,6.750000
50%,51.500000,9.500000,22.000000,36.000000,49.500000,62.000000,13.000000
75%,77.250000,17.250000,32.000000,46.000000,57.000000,66.000000,20.000000
max,103.000000,41.000000,56.000000,63.000000,67.000000,69.000000,26.000000

In [10]:
X.describe().transpose()

    count       mean        std   min    25%   50%    75%    max
ID  104.0  51.500000  30.166206   0.0  25.75  51.5  77.25  103.0
B1  104.0  11.663462   9.029198   1.0   5.00   9.5  17.25   41.0
B2  104.0  23.903846  12.142775   3.0  15.00  22.0  32.00   56.0
B3  104.0  36.576923  13.073127   9.0  27.00  36.0  46.00   63.0
B4  104.0  47.884615  12.360529  16.0  39.75  49.5  57.00   67.0
B5  104.0  58.711538   9.362882  31.0  54.00  62.0  66.00   69.0
PB  104.0  13.076923   7.383651   1.0   6.75  13.0  20.00   26.0

In [12]:
X.columns

Index(['ID', 'DrawDate', 'B1', 'B2', 'B3', 'B4', 'B5', 'PB'], dtype='object')

In [16]:
X.columns = ['Id','Date','1','2','3','4','5','P']
X.columns

Index(['Id', 'Date', '1', '2', '3', '4', '5', 'P'], dtype='object')