In [1]:
import pandas as pd
import datetime as dt

f_path = 'C:Users\\Manh Le\\Documents\\PowerBall.csv'
Data = pd.read_csv(f_path)

In [3]:
#Accessing indivisual elements
Data.head()

   ID    DrawDate  B1  B2  B3  B4  B5  PB
0   0  2017-06-24  10  22  32  36  58  10
1   1  2017-06-21  14  46  61  65  68  13
2   2  2017-06-17  10  13  32  53  62  21
3   3  2017-06-14   5  22  43  57  63  24
4   4  2017-06-10  20  26  32  38  58   3

In [7]:
Data.iat[3,4]

43

In [9]:
Data.at[2,'DrawDate']

'2017-06-17'

In [11]:
Data10 = Data[::10]
Data10

      ID    DrawDate  B1  B2  B3  B4  B5  PB
0      0  2017-06-24  10  22  32  36  58  10
10    10  2017-05-20   5  22  45  47  54   3
20    20  2017-04-15   5  22  26  45  61  13
30    30  2017-03-11   1  26  41  50  57  11
40    40  2017-02-04   6  13  16  17  52  25
50    50  2016-12-31   1   3  28  57  67   9
60    60  2016-11-26  17  19  21  37  44  16
70    70  2016-10-22   1  28  33  55  56  22
80    80  2016-09-17   9  19  51  55  62  14
90    90  2016-08-13  38  44  60  64  69   6
100  100  2016-07-09  10  28  32  61  64  12

In [17]:
Data10.iat[3,3]

26

In [16]:
Data10.at[30,'B1']

1