In [18]:
import pandas as pd
import os

In [29]:
f_path = 'C:Users\\Manh Le\\Documents\\PowerBall.csv'
X = pd.read_csv(f_path)
type(X)

pandas.core.frame.DataFrame

In [35]:
X.info()
X.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 8 columns):
ID          104 non-null int64
DrawDate    104 non-null object
B1          104 non-null int64
B2          104 non-null int64
B3          104 non-null int64
B4          104 non-null int64
B5          104 non-null int64
PB          104 non-null int64
dtypes: int64(7), object(1)
memory usage: 6.6+ KB

   ID    DrawDate  B1  B2  B3  B4  B5  PB
0   0  2017-06-24  10  22  32  36  58  10
1   1  2017-06-21  14  46  61  65  68  13
2   2  2017-06-17  10  13  32  53  62  21
3   3  2017-06-14   5  22  43  57  63  24
4   4  2017-06-10  20  26  32  38  58   3