In [1]:
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = np.random.randint(0,100,(10,2))
data

array([[74, 23],
       [ 0, 33],
       [12,  4],
       [53, 20],
       [92, 44],
       [73, 22],
       [10,  3],
       [ 6, 93],
       [49, 59],
       [ 0, 21]])

In [4]:
scaler_model = MinMaxScaler()

In [5]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [6]:
scaler_model.fit(data)

c:\miniconda3\envs\tensorflow-env\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [8]:
scaler_model.transform(data)

array([[0.80434783, 0.22222222],
       [0.        , 0.33333333],
       [0.13043478, 0.01111111],
       [0.57608696, 0.18888889],
       [1.        , 0.45555556],
       [0.79347826, 0.21111111],
       [0.10869565, 0.        ],
       [0.06521739, 1.        ],
       [0.5326087 , 0.62222222],
       [0.        , 0.2       ]])

In [9]:
scaler_model.fit_transform(data)

c:\miniconda3\envs\tensorflow-env\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[0.80434783, 0.22222222],
       [0.        , 0.33333333],
       [0.13043478, 0.01111111],
       [0.57608696, 0.18888889],
       [1.        , 0.45555556],
       [0.79347826, 0.21111111],
       [0.10869565, 0.        ],
       [0.06521739, 1.        ],
       [0.5326087 , 0.62222222],
       [0.        , 0.2       ]])

In [10]:
data

array([[74, 23],
       [ 0, 33],
       [12,  4],
       [53, 20],
       [92, 44],
       [73, 22],
       [10,  3],
       [ 6, 93],
       [49, 59],
       [ 0, 21]])

In [14]:
import pandas as pd
mydata = np.random.randint(0,101,(50,4))
mydata

array([[ 70,  64,   9,  30],
       [ 30,  42,  50,  90],
       [ 49,  44,   5,  93],
       [ 65,  42,  98,   8],
       [ 10,  51,  71,  77],
       [  7,  44,  58,  81],
       [ 22,  94,  56,  20],
       [ 85,  51, 100,  75],
       [ 63,  27,   0,  98],
       [ 89,   9,   2,  25],
       [100,  82,  95,  44],
       [ 76,  22,  48,  10],
       [ 18,  90,   2,   6],
       [ 99, 100,  19,  93],
       [ 41,  35,  80,  23],
       [ 90,  19,   1,  60],
       [ 87,  48,  16,  56],
       [ 41,  24,  92,  54],
       [ 49,  91, 100,  15],
       [ 31,  74,  36,  38],
       [ 98,  45,  19,  40],
       [ 66,  87,  77,   4],
       [  0,  89,  32,  51],
       [ 70,  15,  82,  85],
       [ 65,  90,  77,   4],
       [ 48,  94,   6,  82],
       [  7,  66,   5,   2],
       [ 51,  89,   5,  81],
       [ 13,  24,  69,  28],
       [  4,  40,   3,  25],
       [ 44,  50,  55,  76],
       [ 91,  50,  38,  35],
       [ 23,  92,  57,   1],
       [ 42,  99,  67,  44],
       [ 71,  36,  31,  96],
       [ 11,  23,  94,  44],
       [ 23,  68,  37,  87],
       [ 36,  76,  35,  13],
       [ 79,  67,  65,  86],
       [ 69,  11,  56,  91],
       [ 59,  41,  40,  79],
       [ 63,  64,  39,  92],
       [ 52,  47,  87,  64],
       [ 85,  35,  58,  44],
       [ 37,  50,  63,  53],
       [ 64,  77,  79,  71],
       [ 47,  92,  48,   3],
       [  3,  49,  43,  85],
       [ 10,  68,  63,  39],
       [ 61,  28,  47,  97]])

In [17]:
data = pd.DataFrame(data=mydata, columns=['f1','f2','f3','out'])

In [18]:
data

     f1   f2   f3  out
0    70   64    9   30
1    30   42   50   90
2    49   44    5   93
3    65   42   98    8
4    10   51   71   77
5     7   44   58   81
6    22   94   56   20
7    85   51  100   75
8    63   27    0   98
9    89    9    2   25
10  100   82   95   44
11   76   22   48   10
12   18   90    2    6
13   99  100   19   93
14   41   35   80   23
15   90   19    1   60
16   87   48   16   56
17   41   24   92   54
18   49   91  100   15
19   31   74   36   38
20   98   45   19   40
21   66   87   77    4
22    0   89   32   51
23   70   15   82   85
24   65   90   77    4
25   48   94    6   82
26    7   66    5    2
27   51   89    5   81
28   13   24   69   28
29    4   40    3   25
30   44   50   55   76
31   91   50   38   35
32   23   92   57    1
33   42   99   67   44
34   71   36   31   96
35   11   23   94   44
36   23   68   37   87
37   36   76   35   13
38   79   67   65   86
39   69   11   56   91
40   59   41   40   79
41   63   64   39   92
42   52   47   87   64
43   85   35   58   44
44   37   50   63   53
45   64   77   79   71
46   47   92   48    3
47    3   49   43   85
48   10   68   63   39
49   61   28   47   97

In [20]:
X = data[['f1','f2','f3']]
X

     f1   f2   f3
0    70   64    9
1    30   42   50
2    49   44    5
3    65   42   98
4    10   51   71
5     7   44   58
6    22   94   56
7    85   51  100
8    63   27    0
9    89    9    2
10  100   82   95
11   76   22   48
12   18   90    2
13   99  100   19
14   41   35   80
15   90   19    1
16   87   48   16
17   41   24   92
18   49   91  100
19   31   74   36
20   98   45   19
21   66   87   77
22    0   89   32
23   70   15   82
24   65   90   77
25   48   94    6
26    7   66    5
27   51   89    5
28   13   24   69
29    4   40    3
30   44   50   55
31   91   50   38
32   23   92   57
33   42   99   67
34   71   36   31
35   11   23   94
36   23   68   37
37   36   76   35
38   79   67   65
39   69   11   56
40   59   41   40
41   63   64   39
42   52   47   87
43   85   35   58
44   37   50   63
45   64   77   79
46   47   92   48
47    3   49   43
48   10   68   63
49   61   28   47

In [22]:
Y = data['out']
Y

0     30
1     90
2     93
3      8
4     77
5     81
6     20
7     75
8     98
9     25
10    44
11    10
12     6
13    93
14    23
15    60
16    56
17    54
18    15
19    38
20    40
21     4
22    51
23    85
24     4
25    82
26     2
27    81
28    28
29    25
30    76
31    35
32     1
33    44
34    96
35    44
36    87
37    13
38    86
39    91
40    79
41    92
42    64
43    44
44    53
45    71
46     3
47    85
48    39
49    97
Name: out, dtype: int32

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_Train,X_Test,Y_Train,Y_Test= train_test_split(X,Y,test_size=0.3,random_state=101)

In [26]:
X_Train.shape

(35, 3)

In [27]:
X_Test.shape

(15, 3)